:root {
	--accent-color: #080a14;
	--white-color: #ffffff;
	--blackgreen-color: #004758;
}
body {
	font-family: 'Calibri';
	background-color: var(--accent-color);
}
.notification {
	background-color: var(--accent-color);
	max-width: 500px;
	margin: 0 auto;
}
.notification__header {
	background-color: var(--blackgreen-color);
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
	margin-bottom: 10px;
	border: 1px solid #222746;
}
.notification__header img {
	align-self: center;
	max-width: 25px;
}
.notification__header h2 {
	color: var(--white-color);
	margin: 0;
}
.notification__info {
	padding: 0 15px;
	font-weight: bold;
	color: red;
	transition: 1s;
	opacity: 0;
	margin-bottom: 15px;
}
.notification__form {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 15px;
	border: 1px solid #222746;
	margin-bottom: 10px;
}
.notification__form input {
	color: var(--white-color);
	background-color: var(--blackgreen-color);
	height: 30px;
	min-width: 75px;
}

.notification__form input::content {
	color: red;
}
.notification__form textarea {
	color: var(--white-color);
	background-color: var(--blackgreen-color);
	resize: none;
	margin: 0px 10px;
	padding: 10px;
	font-family: 'Calibri';
	width: 100%;
	height: 70px;
}
.notification__form textarea::placeholder {
	color: var(--white-color);
}
.notification__form > button,
.notification__list > button {
	cursor: pointer;
	margin: 0;
	text-transform: uppercase;
	border: none;
	padding: 10px 15px;
	color: var(--white-color);
	background-color: var(--blackgreen-color);
	border: 1px solid #222746;
	position: relative;
	transition: 1s;
}
.notification__form > button:hover,
.notification__list > button:hover {
	transition: 1s;
	background: linear-gradient(45deg, #00ccff, var(--accent-color), #06e011);
	opacity: 0.9;
}
.notification__list h3 {
	color: var(--white-color);
}

.notification__list > div {
	color: var(--white-color);
	margin: 0 0 15px 0;
}

.notification__item {
	display: flex;
	justify-content: space-between;
	background-color: var(--blackgreen-color);
	padding: 10px;
	margin-bottom: 10px;
}
.notification__warning {
	background-color: #357b94;
}
button[data-time] {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	cursor: pointer;
	font-weight: bold;
	transition: 0.3s;
	background-color: #a01b1b;
	color: var(--white-color);
	border: none;
}
button[data-time]:hover {
	background-color: #e00f0f;
}
.notification__list h3 {
	margin: 0 0 15px 0;
}
